html
  head
    style
      include style.css
    title= title
  body
    h1
      img(src='/luppolo.png')
      a(href='')= title
    div#menu
      div#menuHeader
        h2
          span= '[DBs] - '
          a(href='/luppolo/ui/plugins/')= '[Plugins]'
      ul
        if dbs.length == 0
          li [no DB]
        each db in dbs
          li
            a(href= '/luppolo/ui/'+db)= db